{{#each ArrayProductos}}

  <div class="card d-flex justify-content-center" style="width: 200px;margin:20px;">
    <img src="/assets/{{this}}.png" class="card-img-top" alt={{this}} name="{{this}}">
    <div class="card-body">
      <h5 class="card-title text-center">{{this}}</h5>    
    </div>
  </div>

{{/each}}